name: End-to-End Tests
on:
  # To trigger manually.
  workflow_dispatch:
  # Run once a day, every day.
  schedule:
    - cron:  '0 0 * * *'

jobs:
  download-linux:
    strategy:
      matrix:
        tree: ["bpf_bpf-next", "bpf_bpf", "stable_linux_linux-6.12.y", "stable_linux_linux-6.6.y", "stable_linux_linux-6.1.y", "stable_linux_linux-5.15.y", "stable_linux_linux-5.10.y", "stable_linux_linux-5.4.y"]
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Retrieve Linux sources
        run: |
          IFS='_' read -r -a tree <<< "${{ matrix.tree }}"
          url=git://git.kernel.org/pub/scm/linux/kernel/git/${tree[0]}/${tree[1]}.git
          branch=${tree[2]:-master}
          git clone -qb $branch --depth 1 $url linux

      - name: Compress Linux sources
        run: |
          tar -zc linux -f linux.tgz

      - name: Upload Linux sources
        uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.tree }}
          path: linux.tgz

  end-to-end:
    needs: download-linux
    strategy:
      fail-fast: false
      matrix:
        insn: [BPF_SYNC1, BPF_SYNC2, BPF_SYNC3, BPF_ADD, BPF_SUB, BPF_OR, BPF_AND, BPF_XOR, BPF_LSH, BPF_RSH, BPF_ARSH, BPF_JLT, BPF_JLE, BPF_JSLT, BPF_JSLE, BPF_JEQ, BPF_JNE, BPF_JGE, BPF_JGT, BPF_JSGE, BPF_JSGT, BPF_JSET]
        tree: ["bpf_bpf-next", "bpf_bpf", "stable_linux_linux-6.12.y", "stable_linux_linux-6.6.y", "stable_linux_linux-6.1.y", "stable_linux_linux-5.15.y", "stable_linux_linux-5.10.y", "stable_linux_linux-5.4.y"]
    runs-on: ubuntu-24.04
    timeout-minutes: 360
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get install -y --no-install-recommends \
            clang-16 llvm-16 llvm-16-tools llvm \
            python3 python3-pip \
            make cmake libelf-dev \
            libjsoncpp-dev stress-ng \
            libz3-dev coccinelle

          for b in clang clang++ llvm-link opt llvm-extract; do
            sudo rm /usr/bin/$b;
            sudo ln -s /usr/bin/$b-16 /usr/bin/$b;
          done

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
          cd bpf-verification
          pip install .

      - name: Deduce kernel version
        id: version
        run: |
          version="6.17"
          # If it's a stable tree, we can get a more precise kernel version.
          if [[ ${{ matrix.tree }} =~ stable_linux_linux-([0-9]+\.[0-9]+)\.y ]]; then
              version="${BASH_REMATCH[1]}"
          fi
          # We support only 5.4.210 as the minimum 5.4.x version.
          if [[ "$version" == "5.4" ]]; then
            version="5.4.210"
          fi
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Download Linux sources
        uses: actions/download-artifact@master
        with:
          name: ${{ matrix.tree }}
          path: ./

      - name: Uncompress Linux sources
        run: |
          file linux.tgz
          tar -zxf linux.tgz

      - name: Generate encodings
        id: generate-encodings
        run: |
          set -o xtrace

          cd "${{ github.workspace }}/linux"
          commit=$(git rev-parse HEAD)
          cd -
          mkdir -p bpf-encodings/${{ matrix.tree }}
          cd llvm-to-smt

          version=${{ steps.version.outputs.version }}

          # Some ops aren't compatible with modular mode on older kernels.
          modular="--modular"
          if  [[ ${{ matrix.insn }} =~ ^(BPF_OR|BPF_AND|BPF_XOR) ]]; then
            if [ $version == "5.4.210" ] || [ $version == "5.10" ] || [ $version == "5.15" ] || [ $version == "6.1" ] || [ $version == "6.6" ]; then
              modular=""
              python3 generate_encodings.py \
                --kernver $version --commit $commit \
                --kernbasedir "${{ github.workspace }}/linux" \
                --outdir ../bpf-encodings/${{ matrix.tree }} \
                --specific-op BPF_SYNC
            fi
          fi

          python3 generate_encodings.py \
            --kernver $version --commit $commit \
            --kernbasedir "${{ github.workspace }}/linux" \
            --outdir ../bpf-encodings/${{ matrix.tree }} \
            --specific-op ${{ matrix.insn }} \
            $modular

          if [ ${{ matrix.insn }} !~ ^BPF_SYNC ]; then
            python3 generate_encodings.py \
              --kernver $version --commit $commit \
              --kernbasedir "${{ github.workspace }}/linux" \
              --outdir ../bpf-encodings/${{ matrix.tree }} \
              --specific-op ${{ matrix.insn }}_32 \
              $modular
          fi

      - name: Upload encodings
        if: ${{ always() }} && steps.generate-encodings.outcome != 'skipped'
        uses: actions/upload-artifact@master
        with:
          name: bpf-encodings-${{ matrix.tree }}-${{ matrix.insn }}
          path: bpf-encodings/${{ matrix.tree }}/${{ matrix.insn }}*/

      - name: Verify ${{ matrix.insn }} on v${{ matrix.tree }}
        id: bpf-verification
        run: |
          mkdir results-${{ matrix.tree }}
          cd bpf-verification
          python3 src/bpf_alu_jmp_synthesis.py \
            --kernver ${{ steps.version.outputs.version }} \
            --encodings_path ../bpf-encodings/${{ matrix.tree }}/ \
            --res_path ../results-${{ matrix.tree }} \
            --ver_set ${{ matrix.insn }}

          if [ ${{ matrix.insn }} !~ ^BPF_SYNC ]; then
            python3 src/bpf_alu_jmp_synthesis.py \
              --kernver ${{ steps.version.outputs.version }} \
              --encodings_path ../bpf-encodings/${{ matrix.tree }}/ \
              --res_path ../results-${{ matrix.tree }} \
              --ver_set ${{ matrix.insn }}_32
          fi

      - name: Upload results
        if: ${{ always() }} && steps.bpf-verification.outcome != 'skipped'
        uses: actions/upload-artifact@master
        with:
          name: results-${{ matrix.tree }}-${{ matrix.insn }}
          path: results-${{ matrix.tree }}/${{ steps.version.outputs.version }}_res
