name: LLVM-to-SMT Tests
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.after }}
  cancel-in-progress: true

jobs:
  llvm-to-smt:
    strategy:
      fail-fast: false
      matrix:
        insn: [BPF_AND, BPF_JSLT, BPF_JSET_32]
        kernel: ["5.4.210", "5.10", "5.15", "6.1", "6.6", "6.12"]
    runs-on: ubuntu-22.04
    timeout-minutes: 40
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get install -y \
            python3 python3-pip \
            make cmake libelf-dev \
            libjsoncpp-dev stress-ng \
            coccinelle

          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 16 all

          for b in clang clang++ llvm-link opt llvm-extract; do
            sudo rm /usr/bin/$b || true;
            sudo ln -s /usr/bin/$b-16 /usr/bin/$b;
          done

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt

      - name: Retrieve Linux sources
        run: |
          branch=v${{ matrix.kernel }}
          tree=git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
          if [ "${{ matrix.kernel }}" = "bpf-next" ]; then
            tree=git://git.kernel.org/pub/scm/linux/kernel/git/bpf/bpf-next.git
            branch=master
          fi
          depth="--depth 1"
          if [ "${{ matrix.kernel }}" = "6.8" ] || [ "${{ matrix.kernel }}" = "6.9" ]; then
            depth=""
          fi
          git clone -qb $branch $depth $tree linux

      - name: Patch kernel
        if: ${{ matrix.kernel == '6.8' || matrix.kernel == '6.9' }}
        run: |
          cd "${{ github.workspace }}/linux"
          git config --global user.email "no-reply@example.com"
          git config --global user.name "Agni Authors"
          git cherry-pick 4c2a26fc80
          rm -r .git

      - name: Prepare encodings comparison
        run: |
          cd "${{ github.workspace }}/bpf-encodings"
          git config --global user.email "no-reply@example.com"
          git config --global user.name "Agni Authors"
          git init
          echo "*.log" > .gitignore
          echo "*.ll" >> .gitignore
          git add .
          git commit -sm f

      - name: Generate encodings
        id: generate-encodings
        run: |
          set -o xtrace

          cd "${{ github.workspace }}/linux"
          commit=$(git rev-parse HEAD)
          cd -
          mkdir -p bpf-encodings/${{ matrix.kernel }}
          cd llvm-to-smt
          version=v${{ matrix.kernel }}
          if [ "${{ matrix.kernel }}" = "linus" ] || [ "${{ matrix.kernel }}" = "bpf-next" ]; then
            version="6.10"
          fi

          python3 generate_encodings.py \
            --kernver $version --commit $commit \
            --kernbasedir "${{ github.workspace }}/linux" \
            --outdir ../bpf-encodings/${{ matrix.kernel }} \
            --specific-op ${{ matrix.insn }}

      - name: Compare encodings
        run: |
          cd "${{ github.workspace }}/bpf-encodings"
          git status --porcelain=1
          if [ $(git status --porcelain=1 | wc -l) -ne 0 ]; then
            exit 1
          fi

      - name: Upload artifacts
        if: ${{ always() }} && steps.generate-encodings.outcome != 'skipped'
        uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b # v4.3.4
        with:
          name: bpf-encodings-${{ matrix.kernel }}-${{ matrix.insn }}
          path: |
            bpf-encodings/${{ matrix.kernel }}/${{ matrix.insn }}/
            bpf-encodings/${{ matrix.kernel }}/${{ matrix.insn }}.smt2
